.array-container {
    justify-content: center;
    flex-direction: row;
    height: 100vh;

}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}

.arrayBtns { 
    justify-content: space-between;
}